Repository boostcamp-2020/IssueTracker-7, pull requests merged in 2020-10, with the labels that each got.

#48 backend 환경설정 완료
  backend/.eslintrc
  backend/.gitignore
  backend/.prettierignore
  backend/.prettierrc
  backend/app.js
  backend/bin/www
  backend/config/sequelize.js
  backend/package-lock.json
  backend/package.json
Labels: 🐣 feature, 🔙 backend

#49 frontend 환경설정 완료
  frontend/.babelrc
  frontend/.gitignore
  frontend/.prettierrc
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/webpack.config.js
Labels: :national_park: environment, 🌈 frontend, 🐣 feature

#52 sequelize 모델 구현
  backend/models/comment.js
  backend/models/index.js
  backend/models/issue.js
  backend/models/label.js
  backend/models/milestone.js
  backend/models/user.js
Labels: 🐣 feature, 🔙 backend

#55 frontend 재설정
  frontend/.babelrc
  frontend/.gitignore
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/App.jsx
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/index.jsx
  frontend/webpack.config.js
Labels: :national_park: environment, 🌈 frontend

#61 OAuth 로그인을 할 수 있다
  .gitignore
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Constant/NotificationName.swift
  iOS/IssueTracker/IssueTracker/Controller/SignInController.swift
  iOS/IssueTracker/IssueTracker/IssueTracker.entitlements
  iOS/IssueTracker/IssueTracker/Model/BackEndAPI/APIManager.swift
  iOS/IssueTracker/IssueTracker/Model/BackEndAPI/AuthenticationManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/HTTPManager.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/GithubSignInManager.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/OAuthManager.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/GithubJSONData.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/UserDefault.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/UserInfo.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/App/AppDelegate.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/App/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/Info.plist
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/Contents.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareBold.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareLight.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareOTF_acEB.otf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareRegular.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/LaunchScreen.storyboard
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/View/AppleSignInButton.swift
  iOS/IssueTracker/IssueTracker/ViewController.swift
  iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests.swift
Labels: 🐣 feature, 📱 iOS

#58 Github OAuth 인증 구현
  backend/app.js
  backend/config/passport.js
  backend/middlewares/token.js
  backend/models/user.js
  backend/package-lock.json
  backend/package.json
  backend/routes/auth.js
  backend/utils/encrypt.js
Labels: 🐣 feature, 🔙 backend

#65 backend 테스트 데이터 생성
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/seeders/20201029054843-milestoneData.js
  backend/seeders/20201029055158-issueData.js
  backend/seeders/20201029055206-userData.js
  backend/seeders/20201029055210-labelData.js
Labels: 🐣 feature, 🔙 backend

#70 이슈 목록을 확인할 수 있다.
  .github/ISSUE_TEMPLATE/feature_request 2.md
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcuserdata/a1111.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/IssueTracker/IssueTracker/Constant/NotificationName 3.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueListViewController 3.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/SignInController 3.swift
  iOS/IssueTracker/IssueTracker/Extension/UIButton+ 3.swift
  iOS/IssueTracker/IssueTracker/Extension/UIButton+.swift
  iOS/IssueTracker/IssueTracker/IssueTracker 3.entitlements
  iOS/IssueTracker/IssueTracker/Model/BackEndAPI/APIManager 2.swift
  iOS/IssueTracker/IssueTracker/Model/BackEndAPI/AuthenticationManager 2.swift
  iOS/IssueTracker/IssueTracker/Model/Network/HTTPManager 3.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/GithubSignInManager 3.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/OAuthManager 3.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/GithubJSONData 3.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/UserDefault 3.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/UserInfo 3.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/App/AppDelegate 3.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/App/SceneDelegate 3.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/Info 3.plist
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/AccentColor.colorset/Contents 3.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/AppIcon.appiconset/Contents 3.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/Contents 3.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareBold 3.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareLight 3.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareOTF_acEB 3.otf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareRegular 3.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/LaunchScreen 2.storyboard
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/Main 2.storyboard
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/IssueList 2.storyboard
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/View/AppleSignInButton 3.swift
  iOS/IssueTracker/IssueTrackerTests/Info 3.plist
  iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests 3.swift
  iOS/IssueTracker/IssueTrackerUITests/Info 3.plist
  iOS/IssueTracker/IssueTrackerUITests/IssueTrackerUITests 3.swift
Labels: 🐣 feature, 📱 iOS

#72 Conflict 방지를 위해 .gitattribute 파일 생성
  .gitattributes
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcuserdata/a1111.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/IssueTracker/IssueTracker/Constant/NotificationName 3.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueListViewController 3.swift
  iOS/IssueTracker/IssueTracker/Controller/SignInController 3.swift
  iOS/IssueTracker/IssueTracker/Extension/UIButton+ 3.swift
  iOS/IssueTracker/IssueTracker/IssueTracker 3.entitlements
  iOS/IssueTracker/IssueTracker/Model/BackEndAPI/APIManager 2.swift
  iOS/IssueTracker/IssueTracker/Model/BackEndAPI/AuthenticationManager 2.swift
  iOS/IssueTracker/IssueTracker/Model/Network/HTTPManager 3.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/GithubSignInManager 3.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/OAuthManager 3.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/GithubJSONData 3.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/UserDefault 3.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/UserInfo 3.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/App/AppDelegate 3.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/App/SceneDelegate 3.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/Info 3.plist
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/AccentColor.colorset/Contents 3.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/AppIcon.appiconset/Contents 3.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/Contents 3.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareBold 3.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareLight 3.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareOTF_acEB 3.otf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareRegular 3.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/LaunchScreen 2.storyboard
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/Main 2.storyboard
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/IssueList 2.storyboard
  iOS/IssueTracker/IssueTracker/View/AppleSignInButton 3.swift
Labels: :national_park: environment, 🐛 bug, 📱 iOS

#77 1주차 ios 병합
  .github/ISSUE_TEMPLATE/feature_request 2.md
  iOS/.gitattributes
  iOS/.gitignore
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcuserdata/a1111.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/IssueTracker/IssueTracker.xcodeproj/xcuserdata/a1111.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/IssueTracker/IssueTracker/Constant/NotificationName.swift
  iOS/IssueTracker/IssueTracker/Controller/FilteringController.swift
  iOS/IssueTracker/IssueTracker/Controller/FilteringTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/SignInController.swift
  iOS/IssueTracker/IssueTracker/Extension/UIButton+.swift
  iOS/IssueTracker/IssueTracker/IssueTracker.entitlements
  iOS/IssueTracker/IssueTracker/Model/BackEndAPI/APIManager.swift
  iOS/IssueTracker/IssueTracker/Model/BackEndAPI/AuthenticationManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/HTTPManager.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/GithubSignInManager.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/OAuthManager.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/GithubJSONData.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/UserDefault.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/UserInfo.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/App/AppDelegate.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/App/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/Info.plist
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/Assets.xcassets/Contents.json
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareBold.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareLight.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareOTF_acEB.otf
  iOS/IssueTracker/IssueTracker/SupportingFile/Resource/NanumSquareRegular.ttf
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/LaunchScreen.storyboard
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/View/AppleSignInButton.swift
  iOS/IssueTracker/IssueTrackerTests/Info 3.plist
  iOS/IssueTracker/IssueTrackerTests/Info.plist
  iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests 3.swift
  iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests.swift
  iOS/IssueTracker/IssueTrackerUITests/Info 3.plist
  iOS/IssueTracker/IssueTrackerUITests/Info.plist
  iOS/IssueTracker/IssueTrackerUITests/IssueTrackerUITests 3.swift
  iOS/IssueTracker/IssueTrackerUITests/IssueTrackerUITests.swift
Labels: 🐣 feature, 📱 iOS

#82 네트워크 API 리팩토링하기
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/SignInController.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/GithubAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/BackEndAPI/APIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/EndPointable.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/GithubAPI.swift
  iOS/IssueTracker/IssueTracker/Model/Network/HTTPManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/Service/Router.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/BackEndOAuthManager.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/GithubOAuthManager.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/GithubSignInManager.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/OAuthManager.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/GithubTokenData.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/GithubUserInfo.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/Main.storyboard
Labels: :package: could, 🐣 feature, 📱 iOS
