Repository boostcamp-2020/IssueTracker-7, pull requests merged in 2020-11, with the labels that each got.

#84 merge 과정 중에 모듈화한 Storyboard 연결
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Constant/StoryboardName.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/Filter.storyboard
  iOS/IssueTracker/IssueTracker/Controller/Filter/FilteringController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/FilteringTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/SignIn/SignInController.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/App/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/Main.storyboard
Labels: iOS, 🐛 bug

#87 스토리보드 파일 구조 변경
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Constant/StoryboardID.swift
  iOS/IssueTracker/IssueTracker/Constant/StoryboardName.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/DetailConditionTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/Filter.storyboard
  iOS/IssueTracker/IssueTracker/Controller/Filter/FilteringTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/SignIn/SignInController.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/App/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/Main.storyboard
Labels: iOS, 🐛 bug

#88 이슈목록화면의 컬렉션뷰 flow layout 설정을 UICollectionViewFlowLayout 객체를 사용하는 방식으로 수정
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
Labels: iOS, 🔧 refactor

#90 user DB 설계 수정사항 반영
  backend/models/user.js
Labels: web, 🐣 feature, 🔙 backend

#91 user Model에 photo_url 속성이 추가됨에 따른 변경사항 반영
  backend/middlewares/passport.js
Labels: web, 🐣 feature, 🔙 backend

#93 세부조건 항목을 선택하여 이슈를 필터링할 수 있다.
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/Filter/DetailConditionTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/Filter.storyboard
  iOS/IssueTracker/IssueTracker/Controller/Filter/FilteringController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/FilteringTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/UserInfo/UserDefault.swift
  iOS/IssueTracker/IssueTracker/Model/UserInfo/UserInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/AssigneesInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/AuthorsInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/FilterInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/LabelsInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/MilestonesInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/Token/GithubTokenData.swift
Labels: :100: must, iOS

#100 이슈 목록을 반환하는 API 구현
  backend/controllers/issue.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/index.js
  backend/routes/api/issue.js
Labels: web

#103 복수의 association 을 가지는 Model의 관계에 alias 적용
  backend/models/index.js
Labels: web

#102 Github OAuth 인증 요청 경로를 web과 ios 로 분리
  backend/routes/api/auth.js
Labels: web

#105 전체 사용자 정보를 반환하는 API 구현한다.
  backend/controller/user.js
  backend/routes/api/index.js
  backend/routes/api/user.js
Labels: web

#110 관계 설정 순서에 따른 버그 수정
  backend/models/index.js
Labels: web

#111 전체 마일스톤 데이터를 반환하는 API 구현
  backend/controllers/label.js
  backend/controllers/milestone.js
  backend/controllers/user.js
  backend/routes/api/index.js
  backend/routes/api/label.js
  backend/routes/api/milestone.js
Labels: web, 🔙 backend

#112 이슈의 상태를 변경하는 API 구현
  backend/controllers/issue.js
  backend/routes/api/issue.js
Labels: web

#113 단일 Issue를 불러오는 API 구현
  backend/controllers/issue.js
  backend/routes/api/issue.js
  backend/routes/index.js
Labels: web, 🔙 backend

#114 Label 필터가 제대로 적용되지 않는 버그 수정
  backend/controllers/issue.js
Labels: web, 🐛 bug

#117 frontend 환경설정 추가 및 수정
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack.config.js
Labels: web

#119 webpack에 HMR 옵션 추가
  frontend/webpack.config.js
Labels: web

#118 InputBox 컴포넌트 구현
  frontend/src/components/login/InputBox.jsx
Labels: :100: must, web, 🌈 frontend

#120 TextButton 컴포넌트 구현
  frontend/src/components/common/FlexBox.jsx
  frontend/src/components/common/FlexItem.jsx
  frontend/src/components/common/TextButton.jsx
  frontend/src/index.jsx
Labels: web, 🌈 frontend, 🐣 feature

#122 레이블 관리화면으로 이동할 수 있다.
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabel.storyboard
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabelModalView.swift
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabelModalViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabelViewController.swift
  iOS/IssueTracker/IssueTracker/Extension/UIColor+.swift
  iOS/IssueTracker/IssueTracker/Model/InputValidator.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/Main.storyboard
Labels: iOS, 🐣 feature

#123 BackEnd 서버와 깃허브 로그인 연동 후 이슈 목록 받아오기
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Constant/NotificationName.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/DetailConditionTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/SignIn/SignInController.swift
  iOS/IssueTracker/IssueTracker/Extension/RegParser.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/BackEndOAuthManager.swift
  iOS/IssueTracker/IssueTracker/Model/UserInfo/UserInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/AssigneesInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/AuthorsInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Comment.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/LabelsInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/IssueData.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/App/SceneDelegate.swift
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCell.swift
  iOS/IssueTracker/IssueTracker/View/CustomSearchBar.swift
Labels: iOS, 🐛 bug

#106 위로 끌어올릴 수 있는 하단 메뉴가 있다
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueListController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Extension/UIView+.swift
  iOS/IssueTracker/IssueTracker/View/AppleSignInButton/AppleSignInButton.swift
  iOS/IssueTracker/IssueTracker/View/CardView/CardView.swift
  iOS/IssueTracker/IssueTracker/View/CardView/CardView.xib
Labels: :100: must, iOS, 🐣 feature

#138 GitHub 로그인 버튼 생성
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/login/GitHubButton.jsx
  frontend/src/pages/LoginPage.jsx
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#141 이슈 목록 조회 시 상단 Comment 하나를 같이 반환하도록 구현
  backend/controllers/issue.js
  backend/models/index.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#143 단일 이슈 조회의 반환 양식 수정
  backend/controllers/issue.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#144 로그인 페이지 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/login/Form.jsx
  frontend/src/pages/LoginPage.jsx
  frontend/src/style/LoginPage.css
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#97 이슈 생성화면을 열 수 있다
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/RegisterIssue/RegisterIssue.storyboard
  iOS/IssueTracker/IssueTracker/Controller/RegisterIssue/RegisterIssueViewController.swift
  iOS/IssueTracker/IssueTrackerUITests/Info.plist
Labels: iOS, 🐣 feature

#146 fontawesome 의존성 추가
  frontend/package-lock.json
  frontend/package.json
Labels: :100: must, web, 🌈 frontend

#147 Revert "이슈 생성화면을 열 수 있다"
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/RegisterIssue/RegisterIssue.storyboard
  iOS/IssueTracker/IssueTracker/Controller/RegisterIssue/RegisterIssueViewController.swift
  iOS/IssueTracker/IssueTrackerUITests/Info.plist
Labels: iOS, 🔧 refactor

#148 Revert "Revert "이슈 생성화면을 열 수 있다""
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/RegisterIssue/RegisterIssue.storyboard
  iOS/IssueTracker/IssueTracker/Controller/RegisterIssue/RegisterIssueViewController.swift
  iOS/IssueTracker/IssueTrackerUITests/Info.plist
Labels: iOS, 🔧 refactor

#149 (#39) refactor: MarkdownView 객체 생성 시점 피드백 반영
  iOS/IssueTracker/IssueTracker/Controller/RegisterIssue/RegisterIssueViewController.swift
Labels: iOS, 🔧 refactor

#151 작성자와 제목, 오픈 여부, 이슈번호(#1)를 형식으로 볼 수 있다
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueListController.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/DetailIssueInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Comment.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/IssueData.swift
  iOS/IssueTracker/IssueTracker/View/Cell/DetailIssueCell.swift
Labels: :100: must, iOS, 🐣 feature

#152 마일스톤 관리 화면으로 갈 수 있다
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabel.storyboard
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabelModalViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestone.storyboard
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestoneModalView.swift
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestoneModalViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Extension/String+.swift
  iOS/IssueTracker/IssueTracker/Extension/UITextField+.swift
  iOS/IssueTracker/IssueTracker/Model/InputValidator.swift
  iOS/IssueTracker/IssueTracker/SupportingFile/Storyboard/Base.lproj/Main.storyboard
Labels: iOS, 🐣 feature

#154 개발 및 배포용 설정 추가
  frontend/webpack.config.js
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#155 React Router 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.jsx
  frontend/src/pages/LoginPage.jsx
  frontend/src/styles/LoginPage.css
  frontend/src/utils/request.js
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#160 이슈 목록 API의 반환 양식 수정
  backend/config/passport.js
  backend/controllers/issue.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#161 웹페이지 라우팅 구현
  backend/.gitignore
  backend/app.js
  backend/models/milestone.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#163 IssuePage 템플릿 구현
  frontend/src/pages/IssuePage.jsx
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#164 이슈목록에 필요한 컴포넌트의 템플릿 구현
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/issue/IssueItem.jsx
  frontend/src/components/issue/IssueList.jsx
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#165 컴포넌트 import 에 alias 적용
  frontend/src/components/login/Form.jsx
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#167 2주차 frontend 병합
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.jsx
  frontend/src/components/common/FlexBox.jsx
  frontend/src/components/common/FlexItem.jsx
  frontend/src/components/common/TextButton.jsx
  frontend/src/components/issue/IssueItem.jsx
  frontend/src/components/issue/IssueList.jsx
  frontend/src/components/login/Form.jsx
  frontend/src/components/login/GithubButton.jsx
  frontend/src/components/login/InputBox.jsx
  frontend/src/index.jsx
  frontend/src/pages/IssuePage.jsx
  frontend/src/pages/LoginPage.jsx
  frontend/src/styles/LoginPage.css
  frontend/src/utils/request.js
  frontend/webpack.config.js
Labels: :100: must, web

#168 2주차 backend 병합
  backend/.gitignore
  backend/app.js
  backend/config/passport.js
  backend/controllers/issue.js
  backend/controllers/label.js
  backend/controllers/milestone.js
  backend/controllers/user.js
  backend/middlewares/passport.js
  backend/middlewares/token.js
  backend/models/index.js
  backend/models/milestone.js
  backend/models/user.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/auth.js
  backend/routes/api/index.js
  backend/routes/api/issue.js
  backend/routes/api/label.js
  backend/routes/api/milestone.js
  backend/routes/api/user.js
  backend/routes/auth.js
  backend/routes/index.js
Labels: :100: must, web

#177 이슈를 생성하는 API 구현
  backend/controllers/issue.js
  backend/models/issue.js
  backend/routes/api/issue.js
  backend/services/issue.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#179 label_id가 슈퍼키로 설정되지 않는 버그 수정
  backend/app.js
  backend/controllers/issue.js
  backend/models/index.js
  backend/routes/index.js
  backend/seeders/2020050-labelHasIssue.js
  backend/services/issue.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#180 conflict 해결 중 삭제된 로직 복구
  backend/services/issue.js
Labels: :100: must, web, 🐛 bug, 🔙 backend

#156 레이블 생성 API 구현
  backend/controllers/label.js
  backend/routes/api/label.js
  backend/services/label.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#181 단일 레이블 조회 API 구현
  backend/controllers/label.js
  backend/routes/api/label.js
  backend/services/label.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#182 마일스톤 API 구현
  backend/controllers/issue.js
  backend/controllers/milestone.js
  backend/models/milestone.js
  backend/routes/api/issue.js
  backend/routes/api/milestone.js
  backend/services/milestone.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#183 레이블을 수정하는 API 구현
  backend/controllers/label.js
  backend/routes/api/label.js
  backend/services/label.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#184 레이블을 삭제하는 API 구현
  backend/controllers/label.js
  backend/routes/api/label.js
  backend/services/label.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#169 이슈를 Close / Delete 할 수 있다.
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Extension/UIView+.swift
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCell.swift
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCellContentView.swift
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCellContentView.xib
Labels: :package: could, iOS, 🐣 feature

#175 [FIX] 위로 끌어올릴 수 있는 하단 메뉴가 있다
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcuserdata/a1111.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueListController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/GithubAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/GithubAPI.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/GithubOAuthManager.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Assignees.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Author.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Label.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Milestone.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/GithubUserInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/IssueInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/Token/GithubTokenData.swift
  iOS/IssueTracker/IssueTracker/View/CardView/CardView.xib
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCell.swift
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCellContentView.swift
  iOS/IssueTracker/IssueTracker/View/SearchBar/CustomSearchBar.swift
Labels: iOS, 🐛 bug, 🐣 feature

#186 Issue의 Label에 대한 API 구현
  backend/controllers/issue.js
  backend/controllers/label.js
  backend/routes/api/issue.js
  backend/services/issue.js
  backend/services/label.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#185 여러 이슈를 선택하여 편집할 수 있다
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCell.swift
  iOS/IssueTracker/IssueTrackerTests/Info 3.plist
  iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests 3.swift
  iOS/IssueTracker/IssueTrackerUITests/Info 3.plist
  iOS/IssueTracker/IssueTrackerUITests/IssueTrackerUITests 3.swift
Labels: iOS, 🐣 feature

#188 네트워크 연결 없이 테스트 가능한 구조 만들기
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcuserdata/a1111.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueListController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/SignIn/SignInController.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/Network/MockService/JsonFactory.swift
  iOS/IssueTracker/IssueTracker/Model/Network/MockService/MockRouter.swift
  iOS/IssueTracker/IssueTracker/Model/Network/Service/Routable.swift
  iOS/IssueTracker/IssueTracker/Model/Network/Service/Router.swift
  iOS/IssueTracker/IssueTracker/Model/OAuth/BackEndOAuthManager.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Milestone.swift
  iOS/IssueTracker/IssueTracker/View/Cell/DetailIssueCell.swift
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCell.swift
  iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests.swift
Labels: :package: could, iOS, 🐣 feature

#187 Assignee에 대한 API 구현
  backend/controllers/issue.js
  backend/controllers/user.js
  backend/routes/api/issue.js
  backend/routes/api/user.js
  backend/services/issue.js
  backend/services/user.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#193 Comment에 대한 API 구현
  backend/controllers/issue.js
  backend/routes/api/issue.js
  backend/services/issue.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#197 이슈의 milestone 과 관련된 Service 구현
  backend/app.js
  backend/services/issue.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#198 네트워크 연결 없이 테스트 가능한 구조 만들기
  iOS/IssueTracker/IssueTracker/Controller/Filter/DetailConditionTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/FilteringController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/FilteringTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/EndPointable.swift
  iOS/IssueTracker/IssueTracker/Model/Network/Service/Routable.swift
  iOS/IssueTracker/IssueTracker/Model/Network/Service/Router.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterInfo.swift
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCell.swift
Labels: iOS, 🐛 bug

#199 네트워크 구조 변경
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/Network/Service/Routable.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Assignees.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Comment.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/IssueInfo.swift
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCell.swift
Labels: iOS, 🐛 bug

#202 이슈에 레이블 삭제 API response 수정
  backend/services/issue.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#201 테스트 데이터 수정
  backend/seeders/2020010-userData.js
  backend/seeders/2020020-milestoneData.js
  backend/seeders/2020030-labelData.js
  backend/seeders/2020040-issueData.js
  backend/seeders/2020050-commentData.js
  backend/seeders/2020050-labelHasIssue.js
  backend/seeders/2020060-userHasIssueData.js
  backend/seeders/2020070-labelHasIssue.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#203 이슈 생성 시 옵션들을 생성 및 적용하도록 수정
  backend/controllers/issue.js
  backend/services/issue.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#204 User API 누락 사항 및 정규식 오타 수정
  backend/controllers/user.js
  backend/services/issue.js
  backend/services/user.js
Labels: :100: must, 🐛 bug, 🐣 feature, 🔙 backend

#205 sequelize의 Op 객체를 가져오도록 수정
  backend/services/issue.js
Labels: web, 🐛 bug, 🐣 feature, 🔙 backend

#206 metions 필터가 적용되지 않는 버그 수정
  backend/services/issue.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#208 필터 기능 개선
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Constant/StoryboardID.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/DetailCondition/LabelConditionTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/DetailCondition/MileStoneConditionTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/DetailCondition/UserConditionTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/DetailConditionTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/Filter.storyboard
  iOS/IssueTracker/IssueTracker/Controller/Filter/FilteringController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/FilteringTableViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Extension/String+.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Assignees.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Author.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Label.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterInfo.swift
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCellContentView.swift
Labels: iOS, 🐛 bug, 🐣 feature

#210 cors 적용
  backend/app.js
  backend/package-lock.json
  backend/package.json
Labels: :100: must, web, 🐣 feature, 🔙 backend

#211 label 생성 controller가 data를 응답하도록 수정
  backend/controllers/label.js
Labels: :100: must, web, 🐛 bug, 🔙 backend

#212 Label Model에 paranoid 옵션 삭제
  backend/models/label.js
Labels: :100: must, web, 🐛 bug, 🔙 backend

#214 atomic design 적용
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.jsx
  frontend/src/components/atoms/Button.jsx
  frontend/src/components/atoms/Button.stories.jsx
  frontend/src/components/atoms/CheckBox.jsx
  frontend/src/components/atoms/CheckBox.stories.jsx
  frontend/src/components/atoms/ColorSpace.jsx
  frontend/src/components/atoms/ColorSpan.jsx
  frontend/src/components/atoms/FlexBox.jsx
  frontend/src/components/atoms/FlexItem.jsx
  frontend/src/components/atoms/Input.jsx
  frontend/src/components/atoms/Label.jsx
  frontend/src/components/atoms/Text.jsx
  frontend/src/components/atoms/Text.stories.jsx
  frontend/src/components/atoms/TextButton.jsx
  frontend/src/components/common/FlexBox.jsx
  frontend/src/components/common/FlexItem.jsx
  frontend/src/components/common/TextButton.jsx
  frontend/src/components/issue/IssueItem.jsx
  frontend/src/components/issue/IssueList.jsx
  frontend/src/components/login/Form.jsx
  frontend/src/components/login/GithubButton.jsx
  frontend/src/components/login/InputBox.jsx
  frontend/src/components/molecules/GithubButton.jsx
  frontend/src/components/molecules/GithubButton.stories.jsx
  frontend/src/components/molecules/HeaderTitle.jsx
  frontend/src/components/molecules/InputBox.jsx
  frontend/src/components/molecules/InputBox.stories.jsx
  frontend/src/components/molecules/IssueInfo.jsx
  frontend/src/components/molecules/IssueInfo.stories.jsx
  frontend/src/components/molecules/IssueStatusIcon.jsx
  frontend/src/components/molecules/Label.jsx
  frontend/src/components/organisms/Header.jsx
  frontend/src/components/organisms/IssueItem.jsx
  frontend/src/components/organisms/IssueList.jsx
  frontend/src/components/organisms/IssueList.stories.jsx
  frontend/src/components/organisms/LoginForm.jsx
  frontend/src/components/organisms/LoginForm.stories.jsx
  frontend/src/components/pages/IssuePage.jsx
  frontend/src/components/pages/LoginPage.jsx
  frontend/src/components/templates/IssuePageTemplate.jsx
  frontend/src/components/templates/LoginPageTemplate.jsx
  frontend/src/pages/IssuePage.jsx
  frontend/src/pages/LoginPage.jsx
  frontend/webpack.config.js
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#217 전체 milestone 조회 시 관련 issue 정보들도 반환하게 수정
  backend/services/issue.js
  backend/services/milestone.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#219 atomic design 적용
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.jsx
  frontend/src/components/atoms/Button.jsx
  frontend/src/components/atoms/Button.stories.jsx
  frontend/src/components/atoms/CheckBox.jsx
  frontend/src/components/atoms/CheckBox.stories.jsx
  frontend/src/components/atoms/ColorSpace.jsx
  frontend/src/components/atoms/ColorSpan.jsx
  frontend/src/components/atoms/FlexBox.jsx
  frontend/src/components/atoms/FlexItem.jsx
  frontend/src/components/atoms/Input.jsx
  frontend/src/components/atoms/Label.jsx
  frontend/src/components/atoms/Text.jsx
  frontend/src/components/atoms/Text.stories.jsx
  frontend/src/components/atoms/TextButton.jsx
  frontend/src/components/common/FlexBox.jsx
  frontend/src/components/common/FlexItem.jsx
  frontend/src/components/common/TextButton.jsx
  frontend/src/components/issue/IssueItem.jsx
  frontend/src/components/issue/IssueList.jsx
  frontend/src/components/login/Form.jsx
  frontend/src/components/login/GithubButton.jsx
  frontend/src/components/login/InputBox.jsx
  frontend/src/components/molecules/GithubButton.jsx
  frontend/src/components/molecules/GithubButton.stories.jsx
  frontend/src/components/molecules/HeaderTitle.jsx
  frontend/src/components/molecules/InputBox.jsx
  frontend/src/components/molecules/InputBox.stories.jsx
  frontend/src/components/molecules/IssueInfo.jsx
  frontend/src/components/molecules/IssueInfo.stories.jsx
  frontend/src/components/molecules/IssueStatusIcon.jsx
  frontend/src/components/molecules/Label.jsx
  frontend/src/components/organisms/Header.jsx
  frontend/src/components/organisms/IssueItem.jsx
  frontend/src/components/organisms/IssueList.jsx
  frontend/src/components/organisms/IssueList.stories.jsx
  frontend/src/components/organisms/LoginForm.jsx
  frontend/src/components/organisms/LoginForm.stories.jsx
  frontend/src/components/pages/IssuePage.jsx
  frontend/src/components/pages/LoginPage.jsx
  frontend/src/components/templates/IssuePageTemplate.jsx
  frontend/src/components/templates/LoginPageTemplate.jsx
  frontend/src/pages/IssuePage.jsx
  frontend/src/pages/LoginPage.jsx
  frontend/webpack.config.js
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#220 마일스톤 화면으로 이동할 수 있다. part2
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestone.storyboard
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestoneModalViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/EndPointable.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/MilestoneInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/IssueInfo.swift
Labels: :100: must, iOS, 🐣 feature

#221 레이블 관리 화면으로 갈 수 있다 part 2
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabel.storyboard
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabelModalViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabelViewController.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/LabelInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/IssueInfo.swift
Labels: :100: must, iOS, 🐣 feature

#224 (#223) fix: 충돌 해결 후 점검
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/Filter/DetailCondition/MileStoneConditionTableViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
Labels: iOS, 🐛 bug

#225 (#223) fix: 충돌 해결 후 점검2
  iOS/IssueTracker/IssueTracker/Controller/Filter/DetailCondition/LabelConditionTableViewController.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/LabelInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterInfo.swift
Labels: iOS, 🐛 bug, 🔧 refactor

#227 이슈 목록 편집 방식 변경 및 개선
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/IssueInfo.swift
Labels: iOS, 🐛 bug, 🐣 feature

#232 레이블 및 마일스톤 목록화면 버그 수정
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabel.storyboard
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestoneModalViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/MilestoneInfo.swift
Labels: iOS, 🐛 bug

#233 마일스톤 진행률을 표시한다
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabel.storyboard
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestone.storyboard
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/MilestoneInfo.swift
Labels: :100: must, iOS, 🐣 feature

#235 이슈 생성화면을 열 수 있다. part2
  iOS/IssueTracker/IssueTracker/Controller/RegisterIssue/RegisterIssue.storyboard
  iOS/IssueTracker/IssueTracker/Controller/RegisterIssue/RegisterIssueViewController.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
Labels: :100: must, iOS, 🐣 feature

#234 필터 구현
  frontend/src/components/atoms/filter/Check.jsx
  frontend/src/components/atoms/filter/CloseButton.jsx
  frontend/src/components/atoms/filter/FilterOverlay.jsx
  frontend/src/components/atoms/filter/FilterTitle.jsx
  frontend/src/components/atoms/filter/Hr.jsx
  frontend/src/components/atoms/filter/Photo.jsx
  frontend/src/components/atoms/filter/Uncheck.jsx
  frontend/src/components/molecules/filter/FilterButton.jsx
  frontend/src/components/molecules/filter/FilterHeader.jsx
  frontend/src/components/molecules/filter/FilterList.jsx
  frontend/src/components/molecules/filter/FilterListWithCheck.jsx
  frontend/src/components/molecules/filter/FilterListWrapper.jsx
  frontend/src/components/organisms/Filter.jsx
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#237 상세 화면에 데이터를 표시한다.
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueListController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/Network/Service/Router.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/DetailIssueInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Assignees.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Comment.swift
  iOS/IssueTracker/IssueTracker/View/Cell/DetailIssueCell.swift
Labels: iOS, 🐣 feature

#242 issue와 auth에 대한 store 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App.jsx
  frontend/src/components/atoms/FlexItem.jsx
  frontend/src/components/atoms/Image.jsx
  frontend/src/components/atoms/index.jsx
  frontend/src/components/molecules/GithubButton.jsx
  frontend/src/components/molecules/HeaderTitle.jsx
  frontend/src/components/molecules/InputBox.jsx
  frontend/src/components/molecules/IssueInfo.jsx
  frontend/src/components/molecules/Label.jsx
  frontend/src/components/molecules/ProfileImage.js
  frontend/src/components/molecules/index.jsx
  frontend/src/components/organisms/Header.jsx
  frontend/src/components/organisms/IssueItem.jsx
  frontend/src/components/organisms/IssueList.jsx
  frontend/src/components/organisms/LoginForm.jsx
  frontend/src/components/organisms/index.jsx
  frontend/src/components/pages/IssuePage.jsx
  frontend/src/components/pages/LoginPage.jsx
  frontend/src/components/pages/index.jsx
  frontend/src/components/templates/index.jsx
  frontend/src/stores/auth.js
  frontend/src/stores/issue.js
  frontend/webpack.config.js
Labels: :100: must, web, 🌈 frontend, 🐣 feature, 🔧 refactor

#244 underscore가 미적용된 응답 수정
  backend/services/issue.js
Labels: :100: must, web, 🐛 bug, 🔙 backend

#247 이슈를 최신순으로 반환하도록 수정
  backend/services/issue.js
Labels: :100: must, web, 🐣 feature, 🔙 backend

#245 이슈목록화면 스타일 수정 및 컴포넌트 접근법 수정
  frontend/src/components/atoms/Check.jsx
  frontend/src/components/atoms/CloseButton.jsx
  frontend/src/components/atoms/ColorSpan.jsx
  frontend/src/components/atoms/DropdownOverlay.jsx
  frontend/src/components/atoms/DropdownTitle.jsx
  frontend/src/components/atoms/Hr.jsx
  frontend/src/components/atoms/Photo.jsx
  frontend/src/components/atoms/Uncheck.jsx
  frontend/src/components/atoms/Wrapper.jsx
  frontend/src/components/atoms/index.jsx
  frontend/src/components/molecules/Dropdown.jsx
  frontend/src/components/molecules/DropdownButton.jsx
  frontend/src/components/molecules/DropdownHeader.jsx
  frontend/src/components/molecules/DropdownWithCheck.jsx
  frontend/src/components/molecules/DropdownWrapper.jsx
  frontend/src/components/molecules/ProfileImage.jsx
  frontend/src/components/molecules/index.jsx
  frontend/src/components/organisms/Filter.jsx
  frontend/src/components/organisms/IssueItem.jsx
  frontend/src/components/organisms/IssueList.jsx
  frontend/src/components/templates/IssuePageTemplate.jsx
  frontend/src/components/templates/LoginPageTemplate.jsx
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#246 카드뷰에서 커멘트를 할 수 있어야한다.
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/CardViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/CardViewController.xib
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/CommentView.storyboard
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/CommentViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueListController.swift
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Comment.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/MilestoneInfo.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/IssueInfo.swift
Labels: :100: must, iOS, 🐣 feature

#251 이슈 목록 레이아웃 버그 수정
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/AssigneeSelectController.swift
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/CardViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/CardViewController.xib
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueListController.swift
  iOS/IssueTracker/IssueTracker/Controller/Filter/Filter.storyboard
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/ManageLabel/ManageLabel.storyboard
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestone.storyboard
  iOS/IssueTracker/IssueTracker/Controller/ManageMilestone/ManageMilestoneViewController.swift
  iOS/IssueTracker/IssueTracker/Model/APIManager/BackEndAPIManager.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/BackEndAPI.swift
  iOS/IssueTracker/IssueTracker/Model/Network/EndPoint/EndPointable.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Assignees.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/FilterConditions/Comment.swift
  iOS/IssueTracker/IssueTracker/Model/ValueObject/IssueInfo.swift
  iOS/IssueTracker/IssueTracker/View/AssigneesProfileStackView.swift
  iOS/IssueTracker/IssueTracker/View/Cell/IssueCellContentView.xib
Labels: iOS, 🐛 bug

#255 화면 갱신 관련 버그 수정
  iOS/IssueTracker/IssueTracker.xcodeproj/project.xcworkspace/xcuserdata/a1111.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/CardViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/CardViewController.xib
  iOS/IssueTracker/IssueTracker/Controller/DetailIssueList/DetailIssueListController.swift
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueList.storyboard
  iOS/IssueTracker/IssueTracker/Controller/IssueList/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Controller/RegisterIssue/RegisterIssueViewController.swift
Labels: iOS, 🐛 bug

#256 이슈 목록 화면 보완 및 서치바 구현
  frontend/src/components/atoms/Button.jsx
  frontend/src/components/atoms/Wrapper.jsx
  frontend/src/components/molecules/Dropdown.jsx
  frontend/src/components/molecules/DropdownButton.jsx
  frontend/src/components/molecules/DropdownHeader.jsx
  frontend/src/components/molecules/DropdownWithCheck.jsx
  frontend/src/components/molecules/DropdownWrapper.jsx
  frontend/src/components/molecules/GithubButton.jsx
  frontend/src/components/organisms/Filter.jsx
  frontend/src/components/organisms/IssueList.jsx
  frontend/src/components/organisms/SearchBar.jsx
  frontend/src/components/organisms/index.jsx
  frontend/src/components/templates/IssuePageTemplate.jsx
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#257 body 배경 색 수정
  frontend/src/components/pages/LoginPage.jsx
  frontend/src/components/templates/IssuePageTemplate.jsx
  frontend/src/components/templates/LoginPageTemplate.jsx
  frontend/src/styles/LoginPage.css
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#258 필터 초기화 버튼 생성
  frontend/src/components/molecules/InitFilterButton.jsx
  frontend/src/components/molecules/index.jsx
  frontend/src/components/templates/IssuePageTemplate.jsx
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#259 store와 컴포넌트 바인딩 구현
  frontend/src/components/App.jsx
  frontend/src/components/atoms/Icon.jsx
  frontend/src/components/atoms/Input.jsx
  frontend/src/components/atoms/index.jsx
  frontend/src/components/molecules/Dropdown.jsx
  frontend/src/components/molecules/DropdownWithCheck.jsx
  frontend/src/components/molecules/DropdownWrapper.jsx
  frontend/src/components/molecules/GithubButton.jsx
  frontend/src/components/molecules/HeaderTitle.jsx
  frontend/src/components/molecules/IssueStatusIcon.jsx
  frontend/src/components/organisms/Filter.jsx
  frontend/src/components/organisms/IssueList.jsx
  frontend/src/components/organisms/LoginForm.jsx
  frontend/src/components/organisms/SearchBar.jsx
  frontend/src/components/pages/IssuePage.jsx
  frontend/src/stores/filter.js
  frontend/src/stores/issue.js
  frontend/src/stores/label.js
  frontend/src/stores/milestone.js
  frontend/src/stores/user.js
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#260 필터 초기화 버튼 기능 구현
  frontend/src/components/molecules/InitFilterButton.jsx
  frontend/src/components/organisms/Filter.jsx
  frontend/src/components/organisms/SearchBar.jsx
  frontend/src/stores/filter.js
Labels: :100: must, web, 🌈 frontend, 🐣 feature

#262 3주차 backend 병합
  backend/app.js
  backend/controllers/issue.js
  backend/controllers/label.js
  backend/controllers/milestone.js
  backend/controllers/user.js
  backend/models/index.js
  backend/models/issue.js
  backend/models/label.js
  backend/models/milestone.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/issue.js
  backend/routes/api/label.js
  backend/routes/api/milestone.js
  backend/routes/api/user.js
  backend/routes/index.js
  backend/seeders/2020010-userData.js
  backend/seeders/2020020-milestoneData.js
  backend/seeders/2020030-labelData.js
  backend/seeders/2020040-issueData.js
  backend/seeders/2020050-commentData.js
  backend/seeders/2020060-userHasIssueData.js
  backend/seeders/2020070-labelHasIssue.js
  backend/services/issue.js
  backend/services/label.js
  backend/services/milestone.js
  backend/services/user.js
Labels: :100: must, web, 🐣 feature, 🔙 backend
